<!DOCTYPE html>
<html>

<head style="text-align: center;">
  <title>{{title}}</title>
</head>

<body>
  {{{body}}}
  Hàng Buồm chẳng còn cánh buồm<br>

  Thuyền đậu nơi nào em đến<br>

  Sông Hồng cách xa biền biệt<br>
  Bãi ngô cát trắng mùa xuân.<br><br>



  Hàng Chuối<br>

  Đâu còn có chuối<br>

  Vài cây cơm nguội trăm tuổi<br>

  Lác đác những chú chim sâu.<br>



  Hàng Nâu<br>

  Rồi sang hàng Lược<br>

  Lược chải tóc em ngày xưa.<br>

  Áo trắng tóc dài trên phố.<br>

  Hương chanh hương cốm mùa thu.<br><br>



  Hàng Đào hoa đào mấy độ?<br>

  Hàng Bạc tìm thợ làm vàng.<br>

  Hàng Cót rẽ về hàng Than.<br>

  Hàng Da em tìm giầy dép.<br>



  Hàng Nón nón trắng dập dờn<br>

  Hàng Bông nào còn bông vải<br>

  Hàng Gai đàn ai đêm tối<br>

  Văng vẳng mấy giọng hát đào<br><br>



  Hàng Mã chợ hoa ngày Tết<br>

  Hoa hồng đào thế Nhật Tân.<br>

  Run run rét về trong mắt<br>

  Mê hồn những sắc những hoa<br>



  Ta yêu mái nhà phố Phái<br>

  Nguệch ngoạc đơn sơ tài hoa.<br>

  Ta yêu hàng cây bờ cỏ<br>

  Tháp Bút viết suốt ngàn năm.<br><br>



  Hồ Gươm Rùa vàng đã nổi<br>

  Mùa xuân em có về không ?<br><br>



  Ba sáu phố phường Hà Nội <br>

  (1996)
</body>

</html>